body{
	font-family: 'Cardo', serif;
	background: #ffff00
	}
h1{
	color: #7fffd4;
	background: #008b8b;
	text-align: center;
	font-size: 25px;
	}
img{
	width: 300px;
	float:left;
	border:15%;
	padding: 5px;
	margin: 0px 10px 10px 0;
}	
p{
	font-size: 20px;
}
footer{

}